.poster {
    position: relative;
    display: block;
    cursor: pointer;
    opacity: 0.6;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: opacity 300ms ease;
}
article header img,
.poster img {
    display: block;
}
.poster::before {
    position: absolute;
    content: ' ';
    border-left: 10px solid transparent;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.poster:hover {
    cursor: pointer;
    opacity: 1;
}
.poster:hover:before {
    border-color: var(--button-hover-background-color);
}
.poster.current {
    opacity: 1;
}
.poster.current:before {
    border-color: var(--link-color);
}

header .title,
.poster h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0 10px;
    padding-left: 20px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0) 100%);
    z-index: 0;
}

article header {
    position: relative;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    border-bottom: 7px solid var(--link-color);
}

header .title {
    font-family: 'caps', sans-serif;
    font-size: 2rem;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 5px;
}
header .title h1 {
    margin: 0;
    font-size: 2.4rem;
}
article {
    margin-bottom: 60px;
}

article video,
article iframe {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: 20px;
    margin-top: -20px;
}